::ng-deep .p-menubar {
  background-color: rgb(16, 81, 201);
}

::ng-deep .pi-bars:before {
  color: white;
}

::ng-deep .p-menubar .p-menuitem {
  margin-left: 4rem;
  color: white !important;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: white;
}

::ng-deep .pi:before {
  color: white;
}

::ng-deep span .pi:before {
  color: rgb(8, 8, 8);
}

.header__input {
  height: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

