<div class="container">
  <p-card class="">

    <h1 class="header">Top 10 melhores Whey Protein de 2023</h1>
    <hr>
    <br>
    <p class="container__p">
      Quem busca por uma proteína em pó do soro de leite, ou seja, Whey Protein, sempre deve considerar, se o preço que paga nela, condiz com sua qualidade. Através, desse pensamento, elaboramos esta lista do melhor whey protein para o ano de 2023.
    </p>

    <div>
      <h2>1º Whey Gold Standard da Optimum Nutrition</h2>
      <img class="mobile-img" src="assets/whey-standard.jpg">
      <div class="container__button">
        <a href="https://a.co/d/3C1RCIV" target="_blank">
          <button pButton class="p-button-success" label="Comprar Amazon"></button>
        </a>
      </div>
      <p>
        A <strong> 100% Whey Optimum Nutrition</strong> é considerada a melhor Whey do mundo, sendo a mais vendida nos EUA nos ultimos 10 anos.
      </p>
      <p>
        Com 18 sabores diferentes disponíveis, o Gold Standard já recebeu mais de 10 vezes o prêmio de suplemento do ano, deixando claro a qualidade do produto e sendo a escolha de inúmeros atletas ao redor do mundo.
      </p>
    </div>
  </p-card>
</div>
