<div class="container">
  <p-card class="">

    <h1 class="header">Top 5 melhores Whey Protein de 2023</h1>
    <hr>
    <br>
    <p class="container__p">
      Quem busca por uma proteína em pó do soro de leite, ou seja, Whey Protein, sempre deve considerar, se o preço que paga nela, condiz com sua qualidade. Através, desse pensamento, elaboramos esta lista do melhor whey protein para o ano de 2023.
    </p>

    <!--1°-->
    <div class="container__gap">
      <h2>1º Whey Gold Standard da Optimum Nutrition</h2>
      <img class="mobile-img" src="assets/whey-standard.jpg">
      <div class="container__button">
        <a href="https://a.co/d/3C1RCIV" target="_blank">
          <button pButton class="p-button-success" label="Comprar na Amazon"></button>
        </a>
      </div>
      <p>
        A <strong> 100% Whey Optimum Nutrition</strong> é considerada a melhor Whey do mundo, sendo a mais vendida nos EUA nos ultimos 10 anos.
      </p>
      <p>
        Com 18 sabores diferentes disponíveis, o Gold Standard já recebeu mais de 10 vezes o prêmio de suplemento do ano, deixando claro a qualidade do produto e sendo a escolha de inúmeros atletas ao redor do mundo.
      </p>
    </div>

    <!--2°-->
    <div class="container__gap">
      <h2>1º Integralmédica Whey 100% Pure </h2>
      <img class="mobile-img" src="assets/whey-2.jpg">
      <div class="container__button">
        <a href="https://a.co/d/ixJ08Rt" target="_blank">
          <button pButton class="p-button-success" label="Comprar na Amazon"></button>
        </a>
      </div>
      <p>
        A <strong>  Whey Protein Integralmédica Whey 100% Pure</strong>  é conhecido por ser o mais barato do mercado e, ainda assim, oferecer um produto de ótima qualidade e capaz de garantir o seu aporte proteico necessário para o ganho de massa magra muscular.
      </p>
      <p>
        <strong>Integral Médica</strong> é a marca pioneira na indústria de suplementos no Brasil, presente desde 1983. Ela, atualmente, une a qualidade e a tradição na composição dos seus suplementos, fato que somado ao preço final favorece positivamente a marca no mercado.
      </p>
    </div>

    <!--3°-->
    <div class="container__gap">
      <h2>3º Top Whey Protein 3W da Max Titanium </h2>
      <img class="mobile-img" src="assets/whey-3.jpg">
      <div class="container__button">
        <a href="https://a.co/d/iLxfPgr" target="_blank">
          <button pButton class="p-button-success" label="Comprar na Amazon"></button>
        </a>
      </div>
      <p>
        <strong>Max Titanium</strong>, marca nacional em crescente ascensão, representa o sucesso atrelado ao intenso investimento financeiro e científico nas suas linhas e ao canal informativo com os clientes, por exemplo, o programa difundido no Youtube: <strong>”A Casa dos Campeões”</strong>.
      </p>
      <p>
        Somado a isso, a empresa foi premiada 7 vezes com o título de melhor proteína nacional, fato que demonstra a inerente qualidade do produto final.
      </p>
    </div>

    <!--4°-->
    <div class="container__gap">
      <h2>4º 100% Pure Whey da Probiótica</h2>
      <img class="mobile-img" src="assets/whey-4.jpg">
      <div class="container__button">
        <a href="https://a.co/d/523NQ3m" target="_blank">
          <button pButton class="p-button-success" label="Comprar na Amazon"></button>
        </a>
      </div>
      <p>
        A <strong>Probiótica</strong> é a segunda marca nacional na lista do melhor whey protein. Presente no mercado nacional e no internacional, há cerca de 30 anos, legitimou-se como célebre industria suplementar, pois seus preços são atrativos e alia-se a elevada qualidade dos produtos comercializados; algumas linhas contando com inteiramente matéria-prima importada!
      </p>
    </div>

    <!--5°-->
    <div class="container__gap">
      <h2>5º Atlhetica Best Whey </h2>
      <img class="mobile-img" src="assets/whey-5.jpg">
      <div class="container__button">
        <a href="https://a.co/d/54GHn1j" target="_blank">
          <button pButton class="p-button-success" label="Comprar na Amazon"></button>
        </a>
      </div>
      <p>
        <strong> Atlhetica Nutrition</strong> uma das marcas mais tradicionais do cenário suplementar nacional. Com o melhor sabor do mercado, onde a maioria o escolhe justamente por trazer mais prazer à dieta, a Atlhetica Nutrition Best Whey oferece 25 g de proteína de alto valor biológico em cada dose, formada por uma blend de proteínas concentrada, hidrolisada e isolada, se tornando uma opção ideal para quem está levando seus treinos e sua dieta a sério.
      </p>
    </div>
  </p-card>
</div>
