<div class="container">
  <h1 style="margin-bottom: 2rem;">Últimos Posts</h1>
  <div class="grid">

    <div class="col">
      <p-card>
        <a routerLink="/whey">
          <img src="assets/whey.png" width="400px">
          <p>Top 10 Whey Protein para 2023</p>
        </a>
      </p-card>
    </div>
    <!-- <div class="col">
      <p-card>
        <a routerLink="/whey">
          <img src="assets/whey.png" width="400px">
          <p>Top 10 Whey Protein para 2023</p>
        </a>
      </p-card>
    </div>
    <div class="col">
      <p-card>
        <a routerLink="/whey">
          <img src="assets/whey.png" width="400px">
          <p>Top 10 Whey Protein para 2023</p>
        </a>
      </p-card>
    </div>
    <div class="col">
      <p-card>
        <a routerLink="/whey">
          <img src="assets/whey.png" width="400px">
          <p>Top 10 Whey Protein para 2023</p>
        </a>
      </p-card>
    </div> -->
  </div>
</div>
